.cash-in-view-container{
	.authentication-method-container{
		width: 350px;
		.active{
			background: lightblue;
		}
		button{
			line-height: 50px;
		    width: 100%;
		    text-align: justify;
		    margin-bottom: 10px;
		    border: 1px solid lightgrey;
		}
		img{
			width: 50px;
		    height: 50px;
		    border: 1px solid #f3f3f3;
		    padding: 5px 5px;
		    border-radius: 5px;
		    float: right;
		}
	}

	.webcam-container{
		canvas {
			position: absolute;
			top: 0;
			left: 0;
		}

		video {
			background: black;
			width: 100%   !important;
			height: 425px  !important;
			margin: 0;
			border: 0px;
		}

		padding: 0;
		.loading{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 300000;
			border: white 1px;
			color: white;
			padding: 75px 26px;
			font-size: 17px;
			margin: auto;
			width: 200px;
			height: 200px;

			.spinner-border {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 200px;
			    height: 200px;
			    color: white;
			    z-index:300000;
			    filter: alpha(opacity=80);
			    -moz-opacity: 0.8;
			    opacity: 0.8;   
			}
		}
	}
}