.my-points-container{
	.transaction-container{
		.transaction-details-container{
			width: 100%;
			display: inline-flex;
		    //justify-content: space-between;
		    word-break: break-word;
		    //border: 1px solid #e1e1e1;
		    padding: 10px 10px;
		    margin-top: 10px;
		    .description-container{
		    	width: 500px;
		    	.date{
		    		font-size: 13px;
    				font-style: italic;
		    	}
		    }
			.amount-container{
				width: 250px;
    			text-align: end;
			}
		}
	}
}