
.my-orders-container{
	.btn-status{
		width: 100%;
	    justify-content: center;
	    display: flex;
	    background: white;
		button{
			padding: 18px 10px;
		    width: 180px;
		    border: none;
		    background: none;
		    &:hover{
		    	color: #A87824;
		    }
		}
		.btn-active{
	    	border-bottom: 3px solid #A87824;
	    }
	}

	.active-orders-container, .past-orders-container{
		.title{
			color: #7d7d7d;
		    font-weight: 600;
		    font-size: 20px;
		    text-decoration: underline;
		}
		img{
			height: 100px;
		    width: 100px;
		    border-radius: 5px;
		    border: 1px solid lightgrey;
		}
		// .btn-cancel-order{
		// 	color: red;
		// 	&:hover{
		// 		text-decoration: underline;
		// 	}
		// }
		// .btn-resched-pickup{
		// 	color: #28a745;
		// 	&:hover{
		// 		text-decoration: underline;
		// 	}
		// }
		.order-number{
			//font-weight: 600;
		    color: white;
		    padding: 3px 3px;
		    border-radius: 5px;
		}
		.status-container{
		    width: 80px;
		    height: 80px;
		    line-height: 80px;
		    border-radius: 50%;
		    font-size: 12px;
		    color: #fff;
		    text-align: center;
		    background: #a7a2a2c4;
		}
		.status-container-active{
		    background: #28a745;
		}
	}
}