.order-payment-container{
	.customer-details-container{
		border: 1px solid #f3f3f3;
    	padding: 10px 10px;
    	-webkit-box-shadow: 0px 0px 10px 0px rgba(193,193,193,0.75);
	    -moz-box-shadow:0px 0px 10px 0px rgba(193,193,193,0.75);
	    box-shadow: 0px 0px 10px 0px rgba(193,193,193,0.75);
	}
	.payment-method-container{
		border: 1px solid #f3f3f3;
    	padding: 10px 10px;
    	-webkit-box-shadow: 0px 0px 10px 0px rgba(193,193,193,0.75);
	    -moz-box-shadow:0px 0px 10px 0px rgba(193,193,193,0.75);
	    box-shadow: 0px 0px 10px 0px rgba(193,193,193,0.75);

		.face-pay-container{
			.active{
				background: lightblue;
			}
			button{
				line-height: 50px;
			    width: 100%;
			    text-align: justify;
			    margin-bottom: 10px;
			    border: 1px solid lightgrey;
			}
			img{
				width: 50px;
			    height: 50px;
			    border: 1px solid #f3f3f3;
			    padding: 5px 5px;
			    border-radius: 5px;
			    float: right;
			}
		}
	}

	// .order-details-container{
	// 	border: 1px solid #f3f3f3;
 //    	padding: 10px 10px;
 //    	-webkit-box-shadow: 0px 0px 10px 0px rgba(193,193,193,0.75);
	//     -moz-box-shadow:0px 0px 10px 0px rgba(193,193,193,0.75);
	//     box-shadow: 0px 0px 10px 0px rgba(193,193,193,0.75);
	// 	.order-details-content{
	// 		display: inline-flex;
	// 	    justify-content: space-between;
	// 	    word-break: break-word;
	// 	    // .quantity-container{
	// 	    // 	width: 100px;
	// 	    // 	padding: 5px 10px;
	// 	    // }
	// 	    .name-container{
	// 	    	width: 250px;
	// 	    	padding: 5px 10px;
	// 	    } 
	// 	    .price-container{
	// 	    	width: 250px;
	// 	    	padding: 5px 10px;
	// 	    }
	// 	}

	// 	.discount-details-content{
	// 		display: inline-flex;
	// 	    justify-content: space-between;
	// 	    word-break: break-word;
	// 	    .name-container{
	// 	    	width: 250px;
	// 	    	padding: 5px 10px;
	// 	    } 
	// 	    .price-container{
	// 	    	width: 250px;
	// 	    	padding: 5px 10px;
	// 	    }
	// 	}

	// 	.grand-total-content{
	// 		display: inline-flex;
	// 	    justify-content: space-between;
	// 	    word-break: break-word;
	// 	    .name-container{
	// 	    	width: 250px;
	// 	    	padding: 5px 10px;
	// 	    } 
	// 	    .price-container{
	// 	    	width: 250px;
	// 	    	padding: 5px 10px;
	// 	    }
	// 	}
	// }

	.summary-container{
		border: 1px solid #f3f3f3;
    	padding: 10px 20px;
    	-webkit-box-shadow: 0px 0px 10px 0px rgba(193,193,193,0.75);
	    -moz-box-shadow:0px 0px 10px 0px rgba(193,193,193,0.75);
	    box-shadow: 0px 0px 10px 0px rgba(193,193,193,0.75);

	    .order-details-container{
	    	.order-details-content{
				display: inline-flex;
			    //justify-content: space-between;
			    word-break: break-word;
			    width: 100%;
			    .name-container{
			    	width: 50%;
			    	padding: 5px 10px;
			    } 
			    .price-container{
			    	width: 35%;
			    	padding: 5px 10px;
			    }
			}
	    }

	    .discounts-container{
	    	.discounts-details-content{
				display: inline-flex;
			    //justify-content: space-between;
			    word-break: break-word;
			    width: 100%;
			    .name-container{
			    	width: 50%;
			    	padding: 5px 10px;
			    } 
			    .price-container{
			    	width: 35%;
			    	padding: 5px 10px;
			    }
			    .discount-value-container{
			    	width: 25%;
			    	padding: 5px 10px;
			    }
			}
	    }

	    .totals-container{
	    	.totals-details-content{
				display: inline-flex;
			    //justify-content: space-between;
			    word-break: break-word;
			    width: 100%;
			    .name-container{
			    	width: 50%;
			    	padding: 5px 10px;
			    } 
			    .price-container{
			    	width: 35%;
			    	padding: 5px 10px;
			    }
			}
	    }
	}

	.webcam-container{
		canvas {
			position: absolute;
			top: 0;
			left: 0;
		}

		video {
			background: black;
			width: 100%   !important;
			height: 425px  !important;
			margin: 0;
			border: 0px;
		}

		padding: 0;
		.loading{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 300000;
			border: white 1px;
			color: white;
			padding: 75px 26px;
			font-size: 17px;
			margin: auto;
			width: 200px;
			height: 200px;

			.spinner-border {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 200px;
			    height: 200px;
			    color: white;
			    z-index:300000;
			    filter: alpha(opacity=80);
			    -moz-opacity: 0.8;
			    opacity: 0.8;   
			}
		}
	}
}

@media screen and (max-width : 950px){
	.order-payment-container{
		.summary-container{
			.order-details-container{
			    .order-details-content{
			    	.name-container{
			    		width: 65%;
			    	}
			    }
			}

			.discounts-container{
		    	.discounts-details-content{
		    		.name-container{
		    			width: 65%;
				    	padding: 5px 0px;
				    }
		    	}
		    }

		    .totals-container{
		    	.totals-details-content{
				    .name-container{
				    	width: 65%;
				    }
				}
		    }
		}

		.payment-method-container{
			.cash-container{
				input, .cash-change{
					width: 100% !important;
				}
			}
		}
	}
}