body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
    background: #eef1f6 !important;
    overflow-x: hidden;
}

.page-container{
	top: 50px;
    position: relative;
    //min-height: 60vh;
    min-height: 100vh;
	button,
    input {
        &:focus {
            outline: 0 !important;
            box-shadow: none;
        }
    }

    .container-header{
    	height: auto;
	    background: white;
	    padding-right: 25px;
	    padding-left: 25px;
	    padding-bottom: 20px;
	    padding-top: 10px;
	    border-bottom: 1px solid lightgray;
	    // position: fixed;
        position: relative;
    	width: 100%;
    	z-index: 5;
	    .header-title {
            color: #7d7d7d;
		    font-weight: 600;
		    font-size: 20px;
        }
    	.buttons{
    		float: right;
		    position: absolute;
		    top: 0px;
		    right: 25px;
		    button,a {
		        margin-top: 10px;
		    }
    	}
    	.inputs{
    		float: right;
		    position: absolute;
		    top: 10px;
		    right: 25px;
		    width: auto;
		    .fa-search{
		    	right: 0px;
			    position: absolute;
			    z-index: 2;
			    display: block;
			    width: 2.375rem;
			    height: 2.375rem;
			    padding: 10px 10px;
			    text-align: center;
			    color: #333;
			    border-top-right-radius: 0px;
			    border-bottom-right-radius: 0px;
			    top: 0px;
		    }
    	}
    }

    .container-body{
    	height: auto;
	    background: white; //margin-top: 5px;
	    padding-left: 25px;
	    padding-right: 25px;
	    //padding-top: 10px;
        //padding-top: 70px;
        padding-top: 25px;
	    padding-bottom: 30px;
	    //top: 60px;
	    position: relative;
	    .row{
	    	.col-12{
	    		margin-bottom: 15px !important;
	    	}
	    }
    }

}

// .success-modal{
//     .success-icon-container{
//         font-size: 57px;
//         top: -65px;
//         position: relative;

//         i{
//             background: white;
//             border-radius: 100%;
//             padding: 20px 20px;
//             box-shadow: 0px 0px 10px 0px rgba(191,191,191,0.75);
//         }
//     }
// }

.process-error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    i {
        color: #dc3545;
    }
}

.toast {
    opacity: 1 !important; // -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); // filter: alpha(opacity=100);
}

.global-loading{
	display: none;
    top: 0;
    position: fixed;
    z-index: 2000;
    height: 100vh;
    width: 100%;
    background: rgba(40,40,40,0.75);
    align-items: center;
    left: 0;
    justify-content: center;
    transition: opacity 0.3s linear;
}

table{
    font-size: 12.5px;
    tbody{
        word-break: break-word !important;
        hyphens: auto !important;
    }
}

@media screen and (max-width : 950px){
    .page-container{
        min-height: 90vh;
        .container-header{
            padding-bottom: 10px;
            .inputs{
                float: none;
                position: relative;
                right: 0px;
                width: 100%;
                input{
                    width: 100% !important;
                    margin-top: 10px;
                }
                .fa-search{
                    bottom: 0px;
                    top: unset;
                }
            }
        }
    }
    .modal{
        .modal-dialog{
            margin: 0px;
            max-width: 100%;
            .modal-content{
                height: auto;
                min-height: 100vh;

                .modal-header{
                    border-top-left-radius:0px;
                    border-top-right-radius:0px;
                }
            }
        }   
    }
}