@mixin headerDropdown($width) {
    display: none;
    background: #A87824;
    height: auto;
    width: $width;
    margin-top: 50px; //box-shadow: 0 0 10px #a2a2a2;
    position: relative;
    z-index: 33;
    border-top: 1px solid lightgray;
    ul {
        z-index: 2;
        width: 100%;
        padding: 0px 0px;
        list-style: none;
        display: inline-block;
        li {
            margin-bottom: 5px;
            button, a {
                color: white;
                width: 100%;
                padding: 5px 15px;
                border: none;
                background: none;
                text-align: justify;
                cursor: pointer;
                &:hover {
                    background: #b17f29;
                }
            }
        }
    }
}

@mixin headerDropdown2($height, $width, $right, $background){
    height: $height;
    width: $width;
    display: none;
    background: $background;
    margin-top: 50px;
    position: fixed;
    z-index: 33;
    right: $right;
    border-top: 1px solid lightgray;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.75);
    -moz-box-shadow:0px 0px 10px 0px rgba(40,40,40,0.75);
    box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.75);
    color: #333;
    padding: 0px 20px;
    word-break: break-word !important;
    hyphens: auto !important;
    overflow-x: hidden;
    overflow-y: auto;
}