body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
  background: #eef1f6 !important;
  overflow-x: hidden; }

.page-container {
  top: 50px;
  position: relative; }
  .page-container button:focus,
  .page-container input:focus {
    outline: 0 !important;
    box-shadow: none; }
  .page-container .container-header {
    height: auto;
    background: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    width: 100%;
    z-index: 5; }
    .page-container .container-header .header-title {
      color: #7d7d7d;
      font-weight: 600;
      font-size: 20px; }
    .page-container .container-header .buttons {
      float: right;
      position: absolute;
      top: 0px;
      right: 25px; }
      .page-container .container-header .buttons button, .page-container .container-header .buttons a {
        margin-top: 10px; }
    .page-container .container-header .inputs {
      float: right;
      position: absolute;
      top: 10px;
      right: 25px;
      width: auto; }
      .page-container .container-header .inputs .fa-search {
        right: 0px;
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        padding: 10px 10px;
        text-align: center;
        color: #333;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        top: 0px; }
  .page-container .container-body {
    height: auto;
    background: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
    top: 60px;
    position: relative; }
    .page-container .container-body .row .col-12 {
      margin-bottom: 15px !important; }

.process-error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .process-error i {
    color: #dc3545; }

.toast {
  opacity: 1 !important; }

.global-loading {
  display: none;
  top: 0;
  position: fixed;
  z-index: 2000;
  height: 100vh;
  width: 100%;
  background: rgba(40, 40, 40, 0.75);
  align-items: center;
  left: 0;
  justify-content: center;
  transition: opacity 0.3s linear; }

table {
  font-size: 12.5px; }
  table tbody {
    word-break: break-word !important;
    hyphens: auto !important; }

.preloader {
  display: flex;
  top: 0;
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background: #fff;
  align-items: center;
  left: 0;
  justify-content: center;
  transition: opacity 0.3s linear; }
  .preloader img {
    height: 130px;
    width: 130px; }

.header {
  height: 50px;
  width: 100%;
  background: #3498db;
  color: white;
  line-height: 50px;
  z-index: 10;
  position: fixed;
  z-index: 10; }
  .header .header-btn-cart, .header .header-btn-account, .header .header-btn-notifications {
    float: right; }
  .header a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    height: 50px; }
    .header a:hover {
      color: yellow !important; }
  .header .left {
    width: auto;
    position: absolute;
    padding-left: 20px;
    letter-spacing: 4px;
    font-size: 20px; }
  .header .right {
    float: right;
    height: 100%;
    width: auto; }
    .header .right ul {
      list-style: none; }
      .header .right ul li {
        float: right; }
    .header .right .header-dropdown-account {
      display: none;
      background: #3498db;
      height: auto;
      width: auto;
      margin-top: 50px;
      position: relative;
      z-index: 33;
      border-top: 1px solid lightgray; }
      .header .right .header-dropdown-account ul {
        z-index: 2;
        width: 100%;
        padding: 0px 0px;
        list-style: none;
        display: inline-block; }
        .header .right .header-dropdown-account ul li {
          margin-bottom: 5px; }
          .header .right .header-dropdown-account ul li button, .header .right .header-dropdown-account ul li a {
            color: white;
            width: 100%;
            padding: 5px 15px;
            border: none;
            background: none;
            text-align: justify;
            cursor: pointer; }
            .header .right .header-dropdown-account ul li button:hover, .header .right .header-dropdown-account ul li a:hover {
              background: #42a3e4; }
      .header .right .header-dropdown-account ul li {
        float: none; }
    .header .right .header-btn-cart .span-cart-total-product {
      background: red;
      padding: 0.2em 0.3em 0.3em;
      font-size: 10px;
      border-radius: 2px; }
    .header .right .header-dropdown-cart {
      height: 100vh;
      width: 370px;
      display: none;
      background: white;
      margin-top: 50px;
      position: fixed;
      z-index: 33;
      right: 0px;
      border-top: 1px solid lightgray;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.75);
      box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.75);
      color: #333;
      padding: 0px 20px;
      word-break: break-word !important;
      hyphens: auto !important;
      overflow-x: hidden;
      overflow-y: auto; }
      .header .right .header-dropdown-cart .btn-edit-my-order {
        top: 10px;
        float: right;
        position: relative; }
      .header .right .header-dropdown-cart .bold-title {
        color: #7d7d7d;
        font-weight: 600;
        font-size: 20px; }
      .header .right .header-dropdown-cart .cart-content {
        height: 50%;
        overflow-x: hidden;
        overflow-y: auto; }
        .header .right .header-dropdown-cart .cart-content .cart-product {
          line-height: 20px;
          font-size: 13px;
          font-size: 15px !important;
          color: #333;
          margin-bottom: 10px; }
          .header .right .header-dropdown-cart .cart-content .cart-product img {
            height: 60px;
            width: 60px;
            border-radius: 5px; }
          .header .right .header-dropdown-cart .cart-content .cart-product button {
            border: none;
            background: none;
            font-weight: 600;
            font-size: 12px; }
    .header .right .header-btn-notifications .span-total-notif {
      background: red;
      padding: 0.3em 0.3em 0.3em;
      font-size: 10px;
      border-radius: 2px; }
    .header .right .header-dropdown-notifications {
      height: 70%;
      width: 465px;
      display: none;
      background: white;
      margin-top: 50px;
      position: fixed;
      z-index: 33;
      right: 100px;
      border-top: 1px solid lightgray;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.75);
      box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.75);
      color: #333;
      padding: 0px 20px;
      word-break: break-word !important;
      hyphens: auto !important;
      overflow-x: hidden;
      overflow-y: auto; }
      .header .right .header-dropdown-notifications a {
        color: #007bff;
        padding: 0; }
        .header .right .header-dropdown-notifications a:hover {
          color: #007bff !important;
          text-decoration: underline; }
      .header .right .header-dropdown-notifications .bold-title {
        color: #7d7d7d;
        font-weight: 500;
        font-size: 16px; }
      .header .right .header-dropdown-notifications .notification-content .notification-content-body img {
        height: 60px;
        width: 60px;
        border-radius: 5px; }
      .header .right .header-dropdown-notifications .notification-content .notification-content-body .date {
        font-size: 12px;
        font-style: italic; }
      .header .right .header-dropdown-notifications .notification-content .notification-content-body .description {
        font-size: 15px; }

.side-navbar-container {
  display: none;
  width: auto;
  min-width: 300px;
  position: fixed;
  z-index: 250;
  height: 100vh;
  padding-right: 30px; }
  .side-navbar-container .side-navbar-content {
    background: white;
    height: 100vh;
    min-width: 200px;
    width: auto;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.75);
    overflow-x: hidden;
    overflow-y: auto; }
    .side-navbar-container .side-navbar-content::-webkit-scrollbar-thumb {
      background-color: #bdbdbd;
      /* color of the scroll thumb */
      border-radius: 0px;
      /* roundness of the scroll thumb */
      border: 3px solid #bdbdbd;
      /* creates padding around scroll thumb */ }
    .side-navbar-container .side-navbar-content::-webkit-scrollbar-track {
      background: white;
      /* color of the tracking area */ }
    .side-navbar-container .side-navbar-content::-webkit-scrollbar {
      width: 9px;
      /* width of the entire scrollbar */ }
    .side-navbar-container .side-navbar-content .side-navbar-header {
      display: flex;
      justify-content: center; }
      .side-navbar-container .side-navbar-content .side-navbar-header img {
        width: 150px;
        height: 150px; }
    .side-navbar-container .side-navbar-content .side-navbar-body button, .side-navbar-container .side-navbar-content .side-navbar-body a {
      width: 100%;
      text-align: justify;
      padding: 5px 10px;
      border: none;
      background: white;
      color: #4D4D4E; }
      .side-navbar-container .side-navbar-content .side-navbar-body button:focus, .side-navbar-container .side-navbar-content .side-navbar-body a:focus {
        outline: 0 !important;
        box-shadow: none; }
      .side-navbar-container .side-navbar-content .side-navbar-body button:hover, .side-navbar-container .side-navbar-content .side-navbar-body a:hover {
        text-decoration: none; }
      .side-navbar-container .side-navbar-content .side-navbar-body button .caret, .side-navbar-container .side-navbar-content .side-navbar-body a .caret {
        float: right;
        line-height: 25px; }
    .side-navbar-container .side-navbar-content .side-navbar-body .sub-buttons {
      display: none;
      margin-left: 20px;
      line-height: 37px; }

.btn-toggle-menu {
  position: absolute;
  top: 11px;
  border: 1px solid lightgrey;
  font-size: 14px;
  background: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2); }
  .btn-toggle-menu:focus {
    outline: 0 !important; }

.signup-container .face-container img {
  height: 200px;
  width: 200px; }
.signup-container .webcam-container {
  padding: 0; }
  .signup-container .webcam-container canvas {
    position: absolute;
    top: 0;
    left: 0; }
  .signup-container .webcam-container video {
    background: black;
    width: 100%   !important;
    height: 425px  !important;
    margin: 0;
    border: 0px; }
  .signup-container .webcam-container .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300000;
    border: white 1px;
    color: white;
    padding: 75px 26px;
    font-size: 17px;
    margin: auto;
    width: 200px;
    height: 200px; }
    .signup-container .webcam-container .loading .spinner-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      color: white;
      z-index: 300000;
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      opacity: 0.8; }

.verify-account-container .container-body {
  background: #3498db !important; }
  .verify-account-container .container-body .verify-account-flex, .verify-account-container .container-body .verified-account-flex {
    min-height: 90vh;
    width: 100%;
    position: relative; }
    .verify-account-container .container-body .verify-account-flex .verify-account-body, .verify-account-container .container-body .verify-account-flex .verified-account-body, .verify-account-container .container-body .verified-account-flex .verify-account-body, .verify-account-container .container-body .verified-account-flex .verified-account-body {
      z-index: 1;
      padding: 20px 30px;
      background: white;
      min-height: 400px;
      height: auto;
      width: 460px;
      border-radius: 5px;
      color: #333; }
      .verify-account-container .container-body .verify-account-flex .verify-account-body .main-title, .verify-account-container .container-body .verify-account-flex .verified-account-body .main-title, .verify-account-container .container-body .verified-account-flex .verify-account-body .main-title, .verify-account-container .container-body .verified-account-flex .verified-account-body .main-title {
        text-align: center;
        font-size: 24px; }
        .verify-account-container .container-body .verify-account-flex .verify-account-body .main-title span, .verify-account-container .container-body .verify-account-flex .verified-account-body .main-title span, .verify-account-container .container-body .verified-account-flex .verify-account-body .main-title span, .verify-account-container .container-body .verified-account-flex .verified-account-body .main-title span {
          font-style: italic; }
      .verify-account-container .container-body .verify-account-flex .verify-account-body img, .verify-account-container .container-body .verify-account-flex .verified-account-body img, .verify-account-container .container-body .verified-account-flex .verify-account-body img, .verify-account-container .container-body .verified-account-flex .verified-account-body img {
        height: 150px;
        width: 150px; }

.login-container .container-body {
  background: #3498db !important; }
  .login-container .container-body .login-flex {
    min-height: 90vh;
    width: 100%;
    position: relative; }
    .login-container .container-body .login-flex .login-body {
      z-index: 1;
      padding: 20px 30px;
      background: white;
      min-height: 400px;
      height: auto;
      width: 430px;
      border-radius: 5px;
      color: #333; }
      .login-container .container-body .login-flex .login-body .main-title {
        text-align: center;
        font-size: 24px; }
        .login-container .container-body .login-flex .login-body .main-title span {
          font-style: italic; }
      .login-container .container-body .login-flex .login-body .btn-forgot-password {
        font-style: italic;
        color: #333;
        text-align: center; }
      .login-container .container-body .login-flex .login-body input {
        background: #ececec;
        padding-left: 40px; }
      .login-container .container-body .login-flex .login-body i {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        padding: 10px 10px;
        text-align: center;
        color: #333;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; }

.dashboard-container .container-body .row .col-12 {
  margin-bottom: 0px !important; }
.dashboard-container .container-body .products-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; }
  .dashboard-container .container-body .products-container .item-container {
    background: white;
    border-radius: 10px;
    padding: 10px 20px;
    height: auto;
    cursor: pointer; }
    .dashboard-container .container-body .products-container .item-container .image-container {
      display: flex;
      justify-content: center; }
      .dashboard-container .container-body .products-container .item-container .image-container img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        border: 1px solid lightgrey; }
    .dashboard-container .container-body .products-container .item-container .out-of-stock {
      position: absolute;
      padding: 85px 60px;
      color: black;
      font-weight: 600;
      font-size: 20px;
      color: black; }

.summary-container .summary-numbers-container .value {
  font-size: 23px;
  font-weight: 600; }
.summary-container .summary-numbers-container .title {
  font-size: 14px;
  color: #7d7d7d; }

.my-orders-container .active-orders-container .title, .my-orders-container .past-orders-container .title {
  color: #7d7d7d;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline; }
.my-orders-container .active-orders-container img, .my-orders-container .past-orders-container img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid lightgrey; }
.my-orders-container .active-orders-container .btn-cancel-order, .my-orders-container .past-orders-container .btn-cancel-order {
  color: red; }
  .my-orders-container .active-orders-container .btn-cancel-order:hover, .my-orders-container .past-orders-container .btn-cancel-order:hover {
    text-decoration: underline; }
.my-orders-container .active-orders-container .order-number, .my-orders-container .past-orders-container .order-number {
  color: white;
  padding: 3px 3px;
  border-radius: 5px; }
.my-orders-container .active-orders-container .status-container, .my-orders-container .past-orders-container .status-container {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #a7a2a2c4; }
.my-orders-container .active-orders-container .status-container-active, .my-orders-container .past-orders-container .status-container-active {
  background: #28a745; }

.order-payment-container .customer-details-container {
  border: 1px solid #f3f3f3;
  padding: 10px 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(193, 193, 193, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(193, 193, 193, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(193, 193, 193, 0.75); }
.order-payment-container .payment-method-container {
  border: 1px solid #f3f3f3;
  padding: 10px 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(193, 193, 193, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(193, 193, 193, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(193, 193, 193, 0.75); }
  .order-payment-container .payment-method-container .face-pay-container .active {
    background: lightblue; }
  .order-payment-container .payment-method-container .face-pay-container button {
    line-height: 50px;
    width: 100%;
    text-align: justify;
    margin-bottom: 10px;
    border: 1px solid lightgrey; }
  .order-payment-container .payment-method-container .face-pay-container img {
    width: 50px;
    height: 50px;
    border: 1px solid #f3f3f3;
    padding: 5px 5px;
    border-radius: 5px;
    float: right; }
.order-payment-container .order-details-container {
  border: 1px solid #f3f3f3;
  padding: 10px 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(193, 193, 193, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(193, 193, 193, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(193, 193, 193, 0.75); }
  .order-payment-container .order-details-container .order-details-content {
    display: inline-flex;
    justify-content: space-between;
    word-break: break-word; }
    .order-payment-container .order-details-container .order-details-content .name-container {
      width: 250px;
      padding: 5px 10px; }
    .order-payment-container .order-details-container .order-details-content .price-container {
      width: 250px;
      padding: 5px 10px; }
.order-payment-container .webcam-container {
  padding: 0; }
  .order-payment-container .webcam-container canvas {
    position: absolute;
    top: 0;
    left: 0; }
  .order-payment-container .webcam-container video {
    background: black;
    width: 100%   !important;
    height: 425px  !important;
    margin: 0;
    border: 0px; }
  .order-payment-container .webcam-container .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300000;
    border: white 1px;
    color: white;
    padding: 75px 26px;
    font-size: 17px;
    margin: auto;
    width: 200px;
    height: 200px; }
    .order-payment-container .webcam-container .loading .spinner-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      color: white;
      z-index: 300000;
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      opacity: 0.8; }

.order-payment-successful-container .container-body {
  background: #3498db !important; }
  .order-payment-successful-container .container-body .payment-successful-flex {
    min-height: 90vh;
    width: 100%;
    position: relative; }
    .order-payment-successful-container .container-body .payment-successful-flex .payment-successful-body {
      z-index: 1;
      padding: 20px 30px;
      background: white;
      min-height: 400px;
      height: auto;
      width: 460px;
      border-radius: 5px;
      color: #333; }
      .order-payment-successful-container .container-body .payment-successful-flex .payment-successful-body .main-title {
        text-align: center;
        font-size: 24px; }
        .order-payment-successful-container .container-body .payment-successful-flex .payment-successful-body .main-title span {
          font-style: italic; }
      .order-payment-successful-container .container-body .payment-successful-flex .payment-successful-body img {
        height: 150px;
        width: 150px; }

.my-wallet-container .transaction-container .transaction-details-container {
  display: inline-flex;
  justify-content: space-between;
  word-break: break-word;
  padding: 10px 10px;
  margin-top: 10px; }
  .my-wallet-container .transaction-container .transaction-details-container .description-container {
    width: 300px; }
    .my-wallet-container .transaction-container .transaction-details-container .description-container .date {
      font-size: 13px;
      font-style: italic; }
  .my-wallet-container .transaction-container .transaction-details-container .amount-container {
    width: 250px;
    text-align: end; }

.cash-in-view-container .authentication-method-container {
  width: 350px; }
  .cash-in-view-container .authentication-method-container .active {
    background: lightblue; }
  .cash-in-view-container .authentication-method-container button {
    line-height: 50px;
    width: 100%;
    text-align: justify;
    margin-bottom: 10px;
    border: 1px solid lightgrey; }
  .cash-in-view-container .authentication-method-container img {
    width: 50px;
    height: 50px;
    border: 1px solid #f3f3f3;
    padding: 5px 5px;
    border-radius: 5px;
    float: right; }
.cash-in-view-container .webcam-container {
  padding: 0; }
  .cash-in-view-container .webcam-container canvas {
    position: absolute;
    top: 0;
    left: 0; }
  .cash-in-view-container .webcam-container video {
    background: black;
    width: 100%   !important;
    height: 425px  !important;
    margin: 0;
    border: 0px; }
  .cash-in-view-container .webcam-container .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300000;
    border: white 1px;
    color: white;
    padding: 75px 26px;
    font-size: 17px;
    margin: auto;
    width: 200px;
    height: 200px; }
    .cash-in-view-container .webcam-container .loading .spinner-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      color: white;
      z-index: 300000;
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      opacity: 0.8; }

.cash-in-successful-container .container-body {
  background: #3498db !important; }
  .cash-in-successful-container .container-body .cash-in-successful-flex {
    min-height: 90vh;
    width: 100%;
    position: relative; }
    .cash-in-successful-container .container-body .cash-in-successful-flex .cash-in-successful-body {
      z-index: 1;
      padding: 20px 30px;
      background: white;
      min-height: 400px;
      height: auto;
      width: 460px;
      border-radius: 5px;
      color: #333; }
      .cash-in-successful-container .container-body .cash-in-successful-flex .cash-in-successful-body .main-title {
        text-align: center;
        font-size: 24px; }
        .cash-in-successful-container .container-body .cash-in-successful-flex .cash-in-successful-body .main-title span {
          font-style: italic; }
      .cash-in-successful-container .container-body .cash-in-successful-flex .cash-in-successful-body img {
        height: 150px;
        width: 150px; }

.product-view-container img {
  width: 200px;
  height: 200px;
  border: 1px solid lightgrey;
  border-radius: 5px; }

.product-container .product-content .product-table .action-buttons {
  justify-content: center;
  display: flex; }

.customer-view-container .verified {
  background: #28a745;
  color: white;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 14px; }
.customer-view-container .unverified {
  background: #dc3545;
  color: white;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 14px; }

.employee-container .status-active {
  background: #28a745;
  color: white;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 10px; }
.employee-container .status-inactive {
  background: #dc3545;
  color: white;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 10px; }

/*# sourceMappingURL=styles.css.map */
