//FOR GLOBAL STYLESHEET
@import "global/global";

//FOR PRE LOADER
@import "preloader/preloader";

//FOR LAYOUTS RELATED
@import "layouts/header";

//FOR REGISTRATION RELATED
@import "signup/signup";
@import "signup/signup-v2";

//FOR VERIFICATION RELATED
@import "verification/verify_account";

//FOR LOGIN RELATED
@import "login/login";

//FOR DASHBOARD RELATED
@import "dashboard/dashboard";
@import "dashboard/admin-dashboard";


//FOR ORDER RELATED
@import "order/my-orders";
@import "order/order-payment";
@import "order/order-payment-successful";

//FOR WALLET RELATED
@import "wallet/my-wallet";
@import "wallet/cash-in-view";
@import "wallet/cash-in-successful";
@import "wallet/cash-in-v2";

//FOR PRODUCT RELATED
@import "product/product-view";
@import "product/product";

//FOR USER RELATED
@import "user/customer-view";
@import "user/employee";