body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
  background: #eef1f6 !important;
  overflow-x: hidden; }

.page-container {
  top: 50px;
  position: relative; }
  .page-container button:focus,
  .page-container input:focus {
    outline: 0 !important;
    box-shadow: none; }
  .page-container .container-header {
    height: auto;
    background: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    width: 100%;
    z-index: 5; }
    .page-container .container-header .header-title {
      color: #7d7d7d;
      font-weight: 600;
      font-size: 20px; }
    .page-container .container-header .buttons {
      float: right;
      position: absolute;
      top: 0px;
      right: 25px; }
      .page-container .container-header .buttons button {
        margin-top: 10px; }
    .page-container .container-header .inputs {
      float: right;
      position: absolute;
      top: 10px;
      right: 25px;
      width: auto; }
      .page-container .container-header .inputs .fa-search {
        right: 0px;
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        padding: 10px 10px;
        text-align: center;
        color: #333;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        top: 0px; }
  .page-container .container-body {
    height: auto;
    background: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
    top: 60px;
    position: relative; }
    .page-container .container-body .row .col-12 {
      margin-bottom: 15px !important; }

.process-error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .process-error i {
    color: #dc3545; }

.toast {
  opacity: 1 !important; }

.preloader {
  display: flex;
  top: 0;
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background: #fff;
  align-items: center;
  left: 0;
  justify-content: center;
  transition: opacity 0.3s linear; }
  .preloader img {
    height: 130px;
    width: 130px; }

.header {
  height: 50px;
  width: 100%;
  background: #3498db;
  color: white;
  line-height: 50px;
  z-index: 10;
  position: fixed;
  z-index: 10; }
  .header a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    float: right;
    height: 50px; }
    .header a:hover {
      color: yellow !important; }
  .header .left {
    width: auto;
    position: absolute;
    padding-left: 20px;
    letter-spacing: 4px;
    font-size: 20px; }
  .header .right {
    float: right;
    height: 100%;
    width: auto; }
    .header .right ul {
      list-style: none; }
      .header .right ul li {
        float: right; }
    .header .right .header-dropdown-account {
      display: none;
      background: #3498db;
      height: auto;
      width: auto;
      margin-top: 50px;
      position: relative;
      z-index: 33;
      border-top: 1px solid lightgray; }
      .header .right .header-dropdown-account ul {
        z-index: 2;
        width: 100%;
        padding: 0px 0px;
        list-style: none;
        display: inline-block; }
        .header .right .header-dropdown-account ul li {
          margin-bottom: 5px; }
          .header .right .header-dropdown-account ul li button, .header .right .header-dropdown-account ul li a {
            color: white;
            width: 100%;
            padding: 5px 15px;
            border: none;
            background: none;
            text-align: justify;
            cursor: pointer; }
            .header .right .header-dropdown-account ul li button:hover, .header .right .header-dropdown-account ul li a:hover {
              background: #42a3e4; }
      .header .right .header-dropdown-account ul li {
        float: none; }
    .header .right .header-btn-cart .span-cart-total-product {
      background: red;
      padding: 0.2em 0.3em 0.3em;
      font-size: 10px;
      border-radius: 2px; }
    .header .right .header-dropdown-cart {
      display: none;
      background: white;
      height: 100vh;
      width: 370px;
      margin-top: 50px;
      position: fixed;
      z-index: 33;
      right: 0px;
      border-top: 1px solid lightgray;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.75);
      box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.75);
      color: #333;
      padding: 10px 20px;
      word-break: break-word !important;
      hyphens: auto !important; }
      .header .right .header-dropdown-cart .btn-edit-my-order {
        top: 10px;
        float: right;
        position: relative; }
      .header .right .header-dropdown-cart .bold-title {
        color: #7d7d7d;
        font-weight: 600;
        font-size: 20px; }
      .header .right .header-dropdown-cart .cart-content {
        height: 50%;
        overflow-x: hidden;
        overflow-y: auto; }
        .header .right .header-dropdown-cart .cart-content .cart-product {
          line-height: 20px;
          font-size: 13px;
          font-size: 15px !important;
          color: #333;
          margin-bottom: 10px; }
          .header .right .header-dropdown-cart .cart-content .cart-product img {
            height: 60px;
            width: 60px;
            border-radius: 5px; }
          .header .right .header-dropdown-cart .cart-content .cart-product button {
            border: none;
            background: none;
            font-weight: 600;
            font-size: 12px; }

.signup-container .face-container img {
  height: 200px;
  width: 200px; }
.signup-container .webcam-container {
  padding: 0; }
  .signup-container .webcam-container canvas {
    position: absolute;
    top: 0;
    left: 0; }
  .signup-container .webcam-container video {
    background: black;
    width: 100%   !important;
    height: 425px  !important;
    margin: 0;
    border: 0px; }
  .signup-container .webcam-container .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300000;
    border: white 1px;
    color: white;
    padding: 75px 26px;
    font-size: 17px;
    margin: auto;
    width: 200px;
    height: 200px; }
    .signup-container .webcam-container .loading .spinner-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      color: white;
      z-index: 300000;
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      opacity: 0.8; }

.verify-account-container .container-body {
  background: #3498db !important; }
  .verify-account-container .container-body .verify-account-flex, .verify-account-container .container-body .verified-account-flex {
    min-height: 90vh;
    width: 100%;
    position: relative; }
    .verify-account-container .container-body .verify-account-flex .verify-account-body, .verify-account-container .container-body .verify-account-flex .verified-account-body, .verify-account-container .container-body .verified-account-flex .verify-account-body, .verify-account-container .container-body .verified-account-flex .verified-account-body {
      z-index: 1;
      padding: 20px 30px;
      background: white;
      min-height: 400px;
      height: auto;
      width: 460px;
      border-radius: 5px;
      color: #333; }
      .verify-account-container .container-body .verify-account-flex .verify-account-body .main-title, .verify-account-container .container-body .verify-account-flex .verified-account-body .main-title, .verify-account-container .container-body .verified-account-flex .verify-account-body .main-title, .verify-account-container .container-body .verified-account-flex .verified-account-body .main-title {
        text-align: center;
        font-size: 24px; }
        .verify-account-container .container-body .verify-account-flex .verify-account-body .main-title span, .verify-account-container .container-body .verify-account-flex .verified-account-body .main-title span, .verify-account-container .container-body .verified-account-flex .verify-account-body .main-title span, .verify-account-container .container-body .verified-account-flex .verified-account-body .main-title span {
          font-style: italic; }
      .verify-account-container .container-body .verify-account-flex .verify-account-body img, .verify-account-container .container-body .verify-account-flex .verified-account-body img, .verify-account-container .container-body .verified-account-flex .verify-account-body img, .verify-account-container .container-body .verified-account-flex .verified-account-body img {
        height: 150px;
        width: 150px; }

.login-container .container-body {
  background: #3498db !important; }
  .login-container .container-body .login-flex {
    min-height: 90vh;
    width: 100%;
    position: relative; }
    .login-container .container-body .login-flex .login-body {
      z-index: 1;
      padding: 20px 30px;
      background: white;
      min-height: 400px;
      height: auto;
      width: 430px;
      border-radius: 5px;
      color: #333; }
      .login-container .container-body .login-flex .login-body .main-title {
        text-align: center;
        font-size: 24px; }
        .login-container .container-body .login-flex .login-body .main-title span {
          font-style: italic; }
      .login-container .container-body .login-flex .login-body .btn-forgot-password {
        font-style: italic;
        color: #333;
        text-align: center; }
      .login-container .container-body .login-flex .login-body input {
        background: #ececec;
        padding-left: 40px; }
      .login-container .container-body .login-flex .login-body i {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        padding: 10px 10px;
        text-align: center;
        color: #333;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; }

.dashboard-container .container-body .row .col-12 {
  margin-bottom: 0px !important; }
.dashboard-container .container-body .products-container .item-container {
  background: white;
  border-radius: 10px;
  padding: 10px 20px;
  height: auto;
  cursor: pointer; }
  .dashboard-container .container-body .products-container .item-container .image-container {
    display: flex;
    justify-content: center; }
    .dashboard-container .container-body .products-container .item-container .image-container img {
      width: 100%;
      height: 200px;
      border-radius: 10px; }

/*# sourceMappingURL=styles.css.map */
