.summary-container{
	.summary-numbers-container{
		.value{
			font-size: 23px;
		    font-weight: 600;
		    //color: #7d7d7d;
		}
		.title{
			font-size: 14px;
    		color: #7d7d7d;
		}
	}
}

@media screen and (max-width : 768px){
	.summary-numbers-container{
		.row{
			text-align: center !important;
		}
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) { }
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) { }
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) { }
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) { }
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) { }