@import "../includes";
.header{
	height: 50px;
    width: 100%;
    background: #3498db;
    color: white;
    line-height: 50px;
    z-index: 10;
    position: fixed;
    z-index: 10;
    a{
        cursor: pointer;
        color: white;
        text-decoration: none;
        padding-right: 20px;
        padding-left: 20px;
        float: right;
        height: 50px;
        &:hover {
            //background: #327eb1 !important;
            color: yellow !important;
        }
    } 
    .left {
        width: auto;
        position: absolute;
        padding-left: 20px;
        letter-spacing: 4px;
        font-size: 20px;
    }
    .right{
    	float: right;
        height: 100%;
        width: auto;
        ul {
	        list-style: none;
	        li {
	        	float: right;
	        }
	    }

        .header-dropdown-account{
            @include headerDropdown(auto);
            ul {
                li {
                    float: none;
                }
            }
        }

        .header-btn-cart{
            .span-cart-total-product{
                background: red;
                padding: 0.2em 0.3em 0.3em;
                font-size: 10px;
                border-radius: 2px;
            }
        }
        .header-dropdown-cart{
            @include headerDropdown2(100vh, 370px, 0px, white);

            .btn-edit-my-order{
                top: 10px;
                float: right;
                position: relative;
            }

            .bold-title{
                color: #7d7d7d;
                font-weight: 600;
                font-size: 20px;
            }

            .cart-content{
                height: 50%;
                overflow-x: hidden;
                overflow-y: auto;
                .cart-product{
                    line-height: 20px;
                    font-size: 13px;
                    font-size: 15px !important;
                    color: #333;
                    margin-bottom: 10px;
                    img{
                        height: 60px;
                        width: 60px;
                        border-radius: 5px;
                    }
                    button{
                        border: none;
                        background: none;
                        font-weight: 600;
                        font-size: 12px;
                    }
                }
            }
        }

        .header-btn-notifications{
            .span-total-notif{
                background: red;
                padding: 0.3em 0.3em 0.3em;
                font-size: 10px;
                border-radius: 2px;
            }
        }


        .header-dropdown-notifications{
            @include headerDropdown2(70%, 465px, 100px, white);
            .bold-title{
                color: #7d7d7d;
                font-weight: 500;
                font-size: 16px;
            }
            .notification-content{
                .notification-content-body{
                    img{
                        height: 60px;
                        width: 60px;
                        border-radius: 5px;
                    }
                    .date{
                        font-size: 12px;
                        font-style: italic;
                    }
                    .description{
                        font-size: 15px;
                    }
                }
            }
        }

        .header-dropdown-pages{
            @include headerDropdown2(auto, auto, 285px, #3498db);
            padding: 0px 5px;
            min-width: 230px;
            color: white;
            a{
                float: left;
            }
        }
    }
}