.about-us-container{
	.about-us-content{
		padding: 0px 100px; 
		color: #333;
		img{
			max-width: 100%;
			height: auto;
		}
	}
}

@media screen and (max-width : 950px){
	.about-us-container{
		.about-us-content{
			padding: 0px 0px;
		}
	}
}