.terms-and-condition-container{
	.terms-and-condition-content{
		padding: 0px 100px; 
		color: #333;
		.title{
			text-decoration: underline;
		}
	}
}

@media screen and (max-width : 950px){
	.terms-and-condition-container{
		.terms-and-condition-content{
			padding: 0px 0px;
		}
	}
}