.forgot-password-container{
	.container-body{
		background: #A87824 !important;
		.forgot-password-flex{
			min-height: 90vh;
		    width: 100%;
		    //background: rgb(218, 218, 218);
		    position: relative;
			.forgot-password-body{
		    	z-index: 1;
		        padding:20px 30px;
		        background: white;
		        min-height: 400px;
		        height: auto;
		        width: 430px;
		        border-radius: 5px;
		        color: #333;

		        .main-title{
		        	text-align: center;
		            font-size: 24px;
		            span{
		                font-style: italic;
		            }
		        }
			}
		}
	}
}