.login-container{
	.container-body{
		background: #A87824 !important;
		.login-flex{
			min-height: 90vh;
		    width: 100%;
		    //background: rgb(218, 218, 218);
		    position: relative;
		    .login-body{
		    	z-index: 1;
		        padding:20px 30px;
		        background: white;
		        min-height: 400px;
		        height: auto;
		        width: 430px;
		        border-radius: 5px;
		        color: #333;

		        .main-title{
		        	text-align: center;
		            font-size: 24px;
		            span{
		                font-style: italic;
		            }
		        }

		        .login-form{
			        .btn-forgot-password{
			        	font-style: italic;
			            color:#333;
			            text-align: center;
			        }

			        input{
			        	background: #ececec;
			        	padding-left: 40px;
			        }
			        i{
			        	position: absolute;
			            z-index: 2;
			            display: block;
			            width: 2.375rem;
			            height: 2.375rem;
			            padding: 10px 10px;
			            text-align: center;
			            color: #333;
			            border-top-right-radius: 0px;
			            border-bottom-right-radius: 0px;
			        }
			    }

			    .otp-form{
			    	display: none;
			    }
		    }
		}
	}
}

@media screen and (max-width : 950px){
	.login-container{
		.container-body{
			padding: 0px 0px;
			.login-flex{
				.login-body{
					width: 100%;
				    height: auto;
				    min-height: 100vh;
				    border-radius: 0px;
				}
			}
		}
	}
}